<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select (ionChange)="manejarSeleccionFigura($event)" label="Figura Geometrica" placeholder="Escoja una figura geométrica">
        <ion-select-option value="circulo">Círculo</ion-select-option>
        <ion-select-option value="triangulo">Tríangulo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <!-- aqui llama al componente circulo y usa la directiva ngif para validar que se selecciono -->
<app-circulo *ngIf="esSeleccionCirculo()"/>
<!-- lo anterior pero aplicado a triangulo -->
<app-triangulo *ngIf="esSeleccionTriangulo()"/>
</ion-content>
